<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Instagram Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="com.roby.LoginTest"/>
        </classes>
    </test>

    <test name="Navigation Tests">
        <classes>
            <class name="com.roby.NavigationTest"/>
        </classes>
    </test>

    <test name="Form Submission Tests">
        <classes>
            <class name="com.roby.FormSubmissionTest"/>
        </classes>
    </test>
</suite>

